#logo {
    color: rgb(255, 4, 88);
    padding-left: 1rem;
}

#exp {
    color: rgb(125, 120, 120);
    width: 9rem;
    transition: 0.3s ease-in-out;
}

#exp:hover {
    color: black;
    background-color: rgb(245, 241, 241);
    border-radius: 50px;
}

#home {
    transition: 0.3s ease-in-out;
}

#home:hover {
    background-color: rgb(245, 241, 241);
    border-radius: 50px;
}

#img {
    width: 2rem;
    height: 2rem;
}

#img1 {
    width: 1.5rem;
    height: 1.5rem;
}

#login {
    border: solid rgb(191, 189, 189);
    border-width: 1px;
    border-radius: 50px;
    justify-content: space-around;
    transition: 0.2s ease-in-out;
    width: 6rem;
}

#login:hover {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

#Navbar {
    height: 10rem;
    border-bottom: solid rgb(191, 189, 189);
    border-width: 0.5px;
}

#search {
    width: 55rem;
    border-radius: 50px;
    border: solid rgb(191, 189, 189);
    border-width: 1px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

#where {
    font-size: small;
    font-weight: bold;
}

#location {
    border: none;
    outline: none;
}

#l-box {
    position: relative;
}
#l-box:hover #location{
    background-color: rgb(245, 241, 241);
}
#l-box::after {
    content: '';
    position: absolute;
    top: 20%;
    bottom: 20%;
    right: 0;
    width: 1px;
    background-color: rgb(191, 189, 189);
}

#s-box {
    color: rgb(167, 163, 163);
}

#s-b {
    background-color: rgb(255, 0, 85);
    border-radius: 50px;
    margin-left: 3rem;
    margin-top: 0.5rem;
    width: 3rem;
    height: 3rem;
}

#b {
    border-width: 1px;
}

#b:hover {
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.2);
}


#slide-image{
    display: none;
    transition: 0.3s ease-in-out;
}
#image-slider:hover #slide-image{
    transition: 0.3s ease-in-out;
    display: block;
}

#check-hover:hover{
    border-bottom: 0.15rem solid rgb(163, 158, 158);
}

